process {
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
    afterScript = 'sleep 1'
    cpus = { params.params.processes ?: 1 }
}

params {
    help=false
    root=false
    input=null
    atlas_directory=null
    single_dataset_size=4
    publishDirRoot="./results_rbx/"

    //**Recobundle segmentation**//
        minimal_vote_ratio=0.1
        seed=0
        outlier_alpha=0.5

    //**Number of processes per tasks**//
        register_processes=4
        rbx_processes=4
        single_dataset_size_GB=2

    //**Process control**//
        processes = false

    Average_Bundles_Publish_Dir = "./results_rbx/Average_Bundles"
}

singularity.autoMounts = true

profiles {
    fully_reproducible {
        params.register_processes=1
        params.rbx_processes=1
    }

    macos {
            process.scratch="/tmp"
    }

    cbrain {
      process{
        publishDir = [path: {"./results_rbx/$sid/$task.process"}, mode: 'copy']
      }
    }
}
